body {
  background: #41444B;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #444545;
  font-size: 15px;
  line-height: 1.6em;
}

h1 {
  color: #2A2D34;
  font-size: 40px;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  font-family: 'Permanent Marker', cursive;
}

h3 {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding-top: 2px;
}

a {
  color: #747474;
  text-decoration: none;
}

a:hover {
  color: #41444B;
}

.container {
  width: 740px;
  margin: 0 auto;
}

.card {
  background: #EFEFEF;
  border: 1px;
  border-radius: 1px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.img-cards {
  filter: grayscale(100%);
  transition: filter 400ms;
}

.img-cards:hover {
  filter: grayscale(0%);
}

#img_circle {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 400ms;
}

#img_circle:hover{
  filter: grayscale(0%);
}

.btn {
  cursor: pointer;
  display: inline-block;
  letter-spacing: .091em;
  line-height: 1em;
  border-style: solid;
  border-width: 1.1px;
  border-radius: 2px;
  padding: 1.8em 3.6em;
  margin-top: 8px;
  transition: 0.5s;
}

.btn:hover {
  filter: grayscale(100%);
  transform: scale(1.05)
}

#experience {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

#experience td {
    padding: 20px;
}

#experience td p {
    padding: 20px;
    padding-top: 2px;
}

.list-inline {
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 20px;
}

.far {
  font-size: 55px;
  color: #BFBFBF;
  transition: 0.5s;
}

.far:hover{
  color: #EFEFEF;
  transform: rotate(20deg);
}

.fab, .fas {
  font-size: 60px;
  transition: 0.5s;
}

.fab:hover, .fas:hover {
  transform: rotate(20deg);
}

@media (max-width: 960px) {
  .container {
    width: 740px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}


